body{
    color: #555454;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
a{
    color: #6388A5;
    text-decoration: none;
}
a:hover{
    background-color: #6388A5;
    color: #fff;
}
header,
footer,
div.main{
    max-width: 45em;
    margin: 0 auto;
}
header{
    margin-bottom: 2em;
}
header h1{
    margin: 0;
}
header h1 small{
    font-size: small;
    font-weight: normal;
}
footer{
    margin-top:4em;
    text-align: center;
}
section.nav span{
    margin: 0 1em;
}
footer section.cp{
    font-size: 13px;
    margin-top: 5px;
}