@import url(../third-party/google-code-prettify/prettify.css);

section.header{
    margin: 1.3em 0;
}
section.header h3.title{
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    text-shadow: #DDD 3px 3px 3px;
}
section.header strong.date{
    color: #ccc;
    font-weight: normal;
    font-size: 0.8em;
}
pre{
    padding: 0.5em;
    margin: 0.5em 0;
}
pre code,
pre.prettyprint code{
    font-family: "Helvetica", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
}

p{
    margin: 0;
    line-height: 2em;
    text-indent: 1em;
}