/*@import url(./syntaxhighlight/shCoreDefault.css);*/

section.header{
    margin: 1.3em 0;
}
section.header h3.title{
    margin: 0;
    font-size: 3em;
    font-weight: normal;
    text-shadow: #DDD 3px 3px 3px;
}
section.header strong.date{
    color: #ccc;
    font-weight: normal;
    font-size: 0.8em;
}

pre,
pre.prettyprint{
    border:0 solid rgba(102,128,153,0.075);
    border-left:10px solid rgba(102,128,153,0.075);
    border-radius:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background-color: rgba(102,128,153,0.05);
    padding: 10px 15px;
    font-family: inherit;
}
pre code,
pre.prettyprint code{
    background-color:transparent !important;
    font-family: inherit;
}

p{
    line-height: 2em;
    text-indent: 2em;
}