extends ../common/layout

block content
    ul.post-list
      each post in postList
        li
          article.clearfix
            h3.title: a(href='/post/#{post.description}') #{post.title}
            strong.date #{post.date}
    if dev
      script.
        seajs.use('#{staticPath}js/pages/index/src/index');
    if !dev
      script.
        seajs.use('pages/index/1.0.0/index');