extends ../common/layout

block content
    ul.post-list
      each post in postList
        li
          article.clearfix
            h3.title: a(href='/post/#{post.description}') #{post.title}
            strong.date #{post.date}