header{
    margin-bottom: 2em;
    text-shadow: #DDD 3px 3px 3px;
}
header h1{
    margin: 0;
    font-family: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;
    font-size: 3em;
    font-weight: normal;
    font-style: italic;
}
header h1 small{
    margin-left: 2em;
    font-family: "Helvetica", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
    font-size: small;
    font-style: normal;
}