/*post page styles*/
header{
    position: fixed;
    top: 10px;
    left: 10px;
}
h1.post-page{
    font-size: 0px;
    font-weight: normal;
}
h1.post-page a{
    display: block;
    height: 32px;
    width: 32px;
    background: url(../../img/home.png) no-repeat;
    color:transparent;
}
h1.post-page a:hover{
    color:#fff;
}