body{
    color: #333;
    font-family: "Helvetica", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;
}
.clearfix:before,
.clearfix:after{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}
a{
    color: #6388A5;
    text-decoration: none;
}
a:hover{
    background-color: #6388A5;
    color: #fff;
}
blockquote{
    background-color: rgba(102,128,153,0.05);
    margin: 0.5em 0;
    font-size: 0.8em;
}
blockquote:before,
blockquote:after{
    display: block;
    font-size: 2em;
    line-height: 0.7em;
}
blockquote:before{
    content: "“";
    text-align: left;
}
blockquote:after{
    content: "”";
    text-align: right;
}
blockquote p{
    margin: 0;
    text-indent: 2em;
    color: #999;
}