body{
    color: #333;
    /*font-family: "Helvetica", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", Tahoma, Arial, STHeiti, sans-serif;*/
    font: 16px/1.5 Optima, Segoe, "Segoe UI", Candara, Calibri, Georgia, Verdana, Arial, sans-serif;
}
.clearfix:before,
.clearfix:after{
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}
a{
    color: #6388A5;
    text-decoration: none;
}
a:hover{
    background-color: #6388A5;
    color: #fff;
}
blockquote{
    margin: 0.5em 0;
    font-size: 0.8em;
}
blockquote:before,
blockquote:after{
    display: block;
    font-size: 2em;
    line-height: 0.7em;
}
blockquote:before{
    content: "“";
    text-align: left;
}
blockquote:after{
    content: "”";
    text-align: right;
}
blockquote p{
    margin: 0;
    color: #999;
    font-style: italic;
}